header {
  background-image: url("https://cdn.glitch.global/6c5d39b3-7b99-4e89-a909-735fd19882fc/congress.png?v=1689607708260");
}

@media screen and (max-width: 630px)  {
  .logo {
    display: none;
  }
}

.main-container {
  flex-direction: column;
}
h2{
  text-align: center;
}