li ul {
  list-style: none;
}
a {
  text-decoration: underline;
}

.info-list > li {
  margin-bottom: 2em;
}


@media screen and (max-width: 970px)  {
  .logo {
    display: none;
  }
}
header{
  font-size: 15px;
}
h1{
  color: black;
  text-decoration:none;
}
footer { 
  padding: 36px 12px;
  background-color: #7bb649;
  
  font-size: 15px;
  color: #2B9432;
}
footer p{
  text-align: bottom;
}