@media screen and (max-width: 350px)  {
  .logo {
    display: none;
  }
}

* {
  z-index: 1
}

.sidebar.a {
  color: white;
}

p {
  text-indent: 4ch;
}

.title {
  font-size: 3em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}

/* Authors styles */
.authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.profile {
  display: flex;
  flex-direction: row;
  gap: 1.5ch;
  flex-basis: 30%;
}
.nameplate {
  display: flex;
  flex-direction: column;
}
.pfp {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
.name {
  font-size: 1.5em;
  line-height: 2ch;
  font-weight: bold;
}

/* Rainbow names */
.rainbow-text.wes {
  background: linear-gradient(to right, #e349ff, #6200ff, #ff3399, #0000ff, #e349ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}
.rainbow-text.julian {
  background: linear-gradient(to right, #ffd066, #8700ff, #ff3399, #ffd066);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}
.rainbow-text.andrew {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 8s ease-in-out infinite;
  background-size: 400% 100%;
}
.rainbow-text.cole {
  background: linear-gradient(to right, #ffee64, #94bbfe, #ffee64, #7d6336);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 4s ease-in-out infinite;
  background-size: 400% 100%;
}
.rainbow-text.harry {
  background: linear-gradient(to right, #19b899, #2873cb, #1b13f2, #e160fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 1s ease-in-out infinite;
  background-size: 400% 100%;
}
.rainbow-text.khasim {
  background: linear-gradient(to right, #7600c4, #878787, #eaae31, #242424);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 8s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
